{%extends "base.html"%}

{% block title%}
Список тегов
{%endblock%}
{%block content%}
<h1>
    {{name}}
</h1>
<ul>
    {%for item in object_list%}
    <li>
        <a href="{%url 'blog:detail_tag' pk=item.pk%}">
            {{item.name}}
        </a>
        <a href="{%url 'blog:tag_update' pk=item.pk%}">Изменить</a>
        <a href="{%url 'blog:tag_delete' pk=item.pk%}">Удалить</a>
    </li>
    {%endfor%}
    <a href="{%url 'blog:tag_create'%}">Создать тег</a>
</ul>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{%endblock%}